Repository TechCell-Project/tech-cell-server, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github

Update environment variables in .env.example file
  .env.example
Labels: none

Update i18n validation messages
  .vscode/settings.json
  libs/common/src/i18n/class-validator-i18n/validator-i18n.decorator.ts
  libs/common/src/i18n/generated/index.ts
  libs/common/src/i18n/lang/vi_VN/errorMessage.json
Labels: none

Upgrade `vnpay` to v0.5.1
  .env.example
  libs/third-party/src/vnpay.vn/vnpay.module.ts
  libs/third-party/src/vnpay.vn/vnpay.service.ts
  package.json
  yarn.lock
Labels: none

Upgrade `vnpay` to v0.5.1
  .env.example
  apps/order/src/checkout-ord/checkout.module.ts
  libs/third-party/src/vnpay.vn/vnpay.module.ts
  libs/third-party/src/vnpay.vn/vnpay.service.ts
  package.json
  yarn.lock
Labels: none

Update pagination for carts, add docs
  apps/api/src/controllers/carts.controller.ts
  apps/order/src/carts-ord/carts-ord.service.ts
  apps/order/src/carts-ord/dtos/get-cart-response.dto.ts
  apps/order/src/carts-ord/dtos/index.ts
  libs/resource/src/carts/dtos/carts.dto.ts
  libs/resource/src/carts/dtos/index.ts
Labels: none

Add IS_ENABLE_BACKUP_MONGODB flag and skip copy if false
  .env.example
  apps/task/src/database-task/database-task.service.ts
Labels: none

Update .dockerignore and .gitignore, add script to generate Swagger YAML, and add workflow to generate SDK
  .dockerignore
  .github/workflows/generate-sdk.yml
  .gitignore
  package.json
  scripts/swagger-json-to-yaml.js
  yarn.lock
Labels: actions, github

Add .env file with Google credentials
  .github/workflows/generate-sdk.yml
Labels: actions

Add JWT configuration to .env file
  .github/workflows/generate-sdk.yml
Labels: actions

Remove FacebookStrategy from app.module.ts
  apps/api/src/app.module.ts
Labels: none

Add FALLBACK_LANGUAGE environment variable and remove swagger-parser dependency
  .github/workflows/generate-sdk.yml
  package.json
  yarn.lock
Labels: actions

Add environment variables to .env file
  .github/workflows/generate-sdk.yml
Labels: actions

Update environment variable references in generate-sdk.yml
  .github/workflows/generate-sdk.yml
Labels: actions

Add RabbitMQ queues and debug .env file
  .github/workflows/generate-sdk.yml
Labels: actions

Update environment variable values in .env file
  .github/workflows/generate-sdk.yml
Labels: actions

Update generate-sdk.yml workflow
  .github/workflows/generate-sdk.yml
Labels: actions

Update SDK generation workflow
  .github/workflows/generate-sdk.yml
Labels: actions

Update package.json with publishConfig and name
  .github/workflows/generate-sdk.yml
Labels: actions

Update Node.js version and add scope for GitHub Packages
  .github/workflows/generate-sdk.yml
Labels: actions

Remove npm ci command from workflow
  .github/workflows/generate-sdk.yml
Labels: actions

Update package.json with publishConfig, name, and version
  .github/workflows/generate-sdk.yml
Labels: actions

Update package.json with techcell_version
  .github/workflows/generate-sdk.yml
Labels: actions

Update package.json in generated/javascript directory
  .github/workflows/generate-sdk.yml
Labels: actions

Update package.json with version and commit hash
  .github/workflows/generate-sdk.yml
Labels: actions

Add git config and environment variable for GitHub push
  .github/workflows/generate-sdk.yml
Labels: actions

Add GIT_TOKEN to environment variables
  .github/workflows/generate-sdk.yml
Labels: actions

Update package version and configuration
  .github/workflows/generate-sdk.yml
Labels: actions

Update GIT_TOKEN in generate-sdk.yml
  .github/workflows/generate-sdk.yml
Labels: actions

Update code generation to use TypeScript-Axios
  .github/workflows/build-and-push-to-docker-hub.yml
  .github/workflows/generate-sdk.yml
Labels: actions

Update GitHub push configuration
  .github/workflows/generate-sdk.yml
Labels: actions

Update generate-sdk.yml: Remove dist directory
  .github/workflows/generate-sdk.yml
Labels: actions

Add API_PORT to .env file and increase sleep time in workflow
  .github/workflows/generate-sdk.yml
Labels: actions

Update Swagger Codegen version to 3.0.50
  .github/workflows/generate-sdk.yml
Labels: actions

Update git user and repo information
  .github/workflows/generate-sdk.yml
Labels: actions

Update SDK generation workflow to include Node and Dart SDKs
  .github/workflows/generate-sdk.yml
Labels: actions

Add Dart SDK setup step
  .github/workflows/generate-sdk.yml
Labels: actions

Add SDK version to pubspec.yaml
  .github/workflows/generate-sdk.yml
Labels: actions

Update Dart SDK version in generated code
  .github/workflows/generate-sdk.yml
Labels: actions

Update Dart SDK version in generate-sdk.yml
  .github/workflows/generate-sdk.yml
Labels: actions

Update Dart SDK version to 2.19.6
  .github/workflows/generate-sdk.yml
Labels: actions

.github/labeler.yml:

readme:
    - '**/README.md'

actions:
    - .github/workflows/**/*
    - .github/labeler.yml

github:
    - .github/*
    - .git*
