Repository TechCell-Project/tech-cell-server, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github

Update package version and repository URLs
  .github/workflows/generate-sdk.yml
Labels: actions

Add workflow to generate SDK (#269)
  .dockerignore
  .github/workflows/build-and-push-to-docker-hub.yml
  .github/workflows/generate-sdk.yml
  .gitignore
  apps/api/src/app.module.ts
  package.json
  scripts/swagger-json-to-yaml.js
Labels: actions, github

Add version check before publishing node-sdk package
  .github/workflows/generate-sdk.yml
Labels: actions

Update version check for sdk-node
  .github/workflows/generate-sdk.yml
Labels: actions

Update the newer way to set output
  .github/workflows/generate-sdk.yml
Labels: actions

Update node-sdk package publish condition
  .github/workflows/generate-sdk.yml
Labels: actions

Update generate-sdk.yml to run when push to `development` branch
  .github/workflows/generate-sdk.yml
Labels: actions

Fix duplicate publish package version (#270)
  .github/workflows/generate-sdk.yml
Labels: actions

Add support for pull requests in generate-sdk workflow
  .github/workflows/generate-sdk.yml
  scripts/generate-sdk-git-push.sh
Labels: actions

Update SDK generation scripts
  .github/workflows/generate-sdk.yml
Labels: actions

Update GitHub Actions workflow and script for generating SDKs
  .github/workflows/generate-sdk.yml
  scripts/generate-sdk-git-push.sh
Labels: actions

Update script to push sdk repo (#271)
  .github/workflows/generate-sdk.yml
  scripts/generate-sdk-git-push.sh
Labels: actions

Add a flag to keep original property naming
  .github/workflows/generate-sdk.yml
Labels: actions

Refactor git push script
  scripts/generate-sdk-git-push.sh
Labels: none

Refactor git pull to git fetch and git rebase
  scripts/generate-sdk-git-push.sh
Labels: none

Update git push command to force push changes
  scripts/generate-sdk-git-push.sh
Labels: none

Upgrade to use `@openapitools/openapi-generator-cli` in stead
  .github/workflows/generate-sdk-openapi.yml
  .vscode/settings.json
  libs/common/src/dtos/object-id-param.dto.ts
  openapitools.json
  package.json
  yarn.lock
Labels: actions

Add optional flag to pagination query parameters
  libs/common/src/dtos/pagination-query.dto.ts
Labels: none

Add generation of Dart SDK and update git push script
  .github/workflows/generate-sdk-openapi.yml
Labels: actions

Remove pull_request trigger from generate-sdk-openapi workflow
  .github/workflows/generate-sdk-openapi.yml
Labels: actions

Upgrade to use `@openapitools/openapi-generator-cli` in stead (#272)
  .github/workflows/generate-sdk-openapi.yml
  .github/workflows/generate-sdk.yml
  .vscode/settings.json
  libs/common/src/dtos/object-id-param.dto.ts
  libs/common/src/dtos/pagination-query.dto.ts
  openapitools.json
  package.json
  yarn.lock
Labels: actions

Update dependencies in package.json
  package.json
  yarn.lock
Labels: none

Regenerate lock file
  yarn.lock
Labels: none

Update package.json and yarn.lock
  package.json
  yarn.lock
Labels: none

Add git commit hash to environment variables
  .github/workflows/generate-sdk-openapi.yml
  scripts/generate-sdk-git-push.sh
Labels: actions

Update generate-sdk-git-push.sh script
  scripts/generate-sdk-git-push.sh
Labels: none

Fix merge conflicts and stash local changes
  scripts/generate-sdk-git-push.sh
Labels: none

Fix git push script and handle untracked files and stash entries
  scripts/generate-sdk-git-push.sh
Labels: none

Update script to pull latest changes before pushing
  scripts/generate-sdk-git-push.sh
Labels: none

Apply stash and merge conflicts automatically
  scripts/generate-sdk-git-push.sh
Labels: none

Apply stash and handle conflicts
  scripts/generate-sdk-git-push.sh
Labels: none

Add pull_request trigger to generate-sdk-openapi workflow
  .github/workflows/generate-sdk-openapi.yml
Labels: actions

Update generate-sdk-git-push.sh script
  scripts/generate-sdk-git-push.sh
Labels: none

Update generate-sdk-git-push.sh script
  scripts/generate-sdk-git-push.sh
Labels: none

Update generate-sdk-git-push.sh script
  scripts/generate-sdk-git-push.sh
Labels: none

Update git push command to force push and set upstream branch
  scripts/generate-sdk-git-push.sh
Labels: none

Fix push repo sdk issue (#273)
  .github/workflows/generate-sdk-openapi.yml
  scripts/generate-sdk-git-push.sh
Labels: actions

Refactor push SDK branch and merge changes from local branch
  .github/workflows/generate-sdk-openapi.yml
  scripts/generate-sdk-git-push.sh
Labels: actions

Fix rebase conflicts during git push
  scripts/generate-sdk-git-push.sh
Labels: none

Remove unnecessary pull request branches in workflow
  .github/workflows/generate-sdk-openapi.yml
Labels: actions

.github/labeler.yml:

readme:
    - '**/README.md'

actions:
    - .github/workflows/**/*
    - .github/labeler.yml

github:
    - .github/*
    - .git*
