Repository TechCell-Project/tech-cell-server, changes with the labels that .github/labeler.yml gives for each.
All labels: labeler, readme, actions, github, test, apps, tsconfig, package, dependencies, license, ignore, docker, editor

feat(metrics): :rocket: create prometheus
  containers/prometheus/Dockerfile
  containers/prometheus/generate-config.sh
  containers/prometheus/prometheus.yml
  docker-compose.metric.yml
Labels: docker

feat(metrics): :rocket: add Grafana and Prometheus Dockerfiles and configuration files
  containers/grafana/Dockerfile
  containers/grafana/dashboards.yaml
  containers/grafana/datasources.yaml
  containers/grafana/grafana.ini
  containers/prometheus/Dockerfile
  containers/prometheus/generate-config.sh
  containers/prometheus/prometheus.yml
  docker-compose.metric.yml
Labels: docker

update(proxy): :sparkles: add nginx proxy configurations for Grafana and Prometheus
  containers/swag/nginx/proxy-confs/grafana.subdomain.conf
  containers/swag/nginx/proxy-confs/prom.subdomain.conf
  docker-compose.metric.yml
Labels: docker

update(docker): :recycle: combine run to once
  containers/grafana/Dockerfile
Labels: docker

update(docker): :recycle: update Grafana and Prometheus ports
  containers/swag/nginx/proxy-confs/grafana.subdomain.conf
  containers/swag/nginx/proxy-confs/prom.subdomain.conf
  docker-compose.core.yml
  docker-compose.metric.yml
Labels: docker

update: :recycle: change host of targets
  containers/prometheus/generate-config.sh
Labels: docker

update: :recycle: update Prometheus configuration and Grafana environment variables
  containers/prometheus/generate-config.sh
  docker-compose.metric.yml
Labels: docker

update(grafana): :recycle: update Grafana and Prometheus ports
  containers/swag/nginx/proxy-confs/grafana.subdomain.conf
  docker-compose.metric.yml
Labels: docker

update(docker): :rocket: add node_exporter container and related files
  .vscode/settings.json
  containers/node_exporter/Dockerfile
  containers/node_exporter/node_exporter_entrypoint.sh
  containers/prometheus/generate-config.sh
  docker-compose.metric.yml
Labels: docker, editor

refactor(docker): :recycle: refactor node_exporter
  .vscode/settings.json
  containers/node_exporter/Dockerfile
  containers/node_exporter/node_exporter_entrypoint.sh
  docker-compose.metric.yml
Labels: docker, editor

update(prom): :wrench: update scrape interval for `node-exporter`
  containers/prometheus/generate-config.sh
Labels: docker

update(prometheus): :arrow_up: upgrade `prometheus` to stable
  containers/prometheus/Dockerfile
Labels: docker

feat(metric): add metric with `prom` & `grafana` (#298)
  .vscode/settings.json
  containers/grafana/Dockerfile
  containers/grafana/dashboards.yaml
  containers/grafana/datasources.yaml
  containers/grafana/grafana.ini
  containers/prometheus/Dockerfile
  containers/prometheus/generate-config.sh
  containers/swag/nginx/proxy-confs/grafana.subdomain.conf
  containers/swag/nginx/proxy-confs/prom.subdomain.conf
  docker-compose.core.yml
  docker-compose.metric.yml
Labels: docker, editor

feat(redisinsight): :sparkles: add redis insight
  .vscode/settings.json
  containers/swag/nginx/proxy-confs/redisinsight.subdomain.conf
  docker-compose.core.yml
  docker-compose.metric.yml
Labels: docker, editor

update(ssl/tls): :recycle: change first ssl sub domain
  .env.example
  .vscode/settings.json
  containers/haproxy/haproxy.cfg
Labels: docker, editor

update(assets): :fire: rename logo image for more clear
  apps/communications/src/mail/templates/images/logo-red.png
Labels: none

update(mail): :sparkles: update mail template
  .vscode/settings.json
  apps/communications/src/mail/mail.service.ts
  apps/communications/src/mail/templates/confirm-register.hbs
  apps/communications/src/mail/templates/forgot-password.hbs
Labels: apps, editor

feat(mail): :sparkles: add i18n email
  apps/auth/src/auth.service.ts
  apps/communications/src/mail/mail.controller.ts
  libs/common/src/i18n/generated/i18n.generated.ts
  libs/common/src/i18n/lang/en/emailMessage.json
  libs/common/src/i18n/lang/vi_VN/emailMessage.json
Labels: apps

update(scripts): :zap: update new scripts helper to run docker compose in quick way
  package.json
  scripts/deploy-docker.js
  scripts/docker-compose-helper.js
  yarn.lock
Labels: package, dependencies

update(scripts): :zap: update copy base64 env string to clipboard
  package.json
  scripts/convert-base64.js
Labels: package, dependencies

refactor(scripts): :recycle: reduce complex
  scripts/docker-compose-helper.js
Labels: none

fix(actions): :green_heart: fix issue when select node version
  .github/workflows/build-test-pull-request.yml
Labels: actions

refactor(constants): :truck: change name of const for clearly
  .vscode/settings.json
  libs/common/src/constants/cache.constant.ts
Labels: apps, editor

update(styles): :art: update unused var rule to warn level
  .eslintrc.js
  .vscode/settings.json
Labels: editor

feat(managements): :sparkles: add get stats of order
  apps/managements/src/stats-mnt/dtos/get-stats-orders-request.dto.ts
  apps/managements/src/stats-mnt/dtos/get-stats-request.dto.ts
  apps/managements/src/stats-mnt/dtos/get-stats-response.dto.ts
  apps/managements/src/stats-mnt/enums/index.ts
  apps/managements/src/stats-mnt/stats-mnt.service.ts
  libs/resource/src/statistics/services/statistics.service.ts
Labels: apps

fix(managements): :ambulance: fix missing break in switch
  apps/managements/src/stats-mnt/stats-mnt.service.ts
Labels: apps

style: :lipstick: lint
  libs/resource/src/notifications/enums/index.ts
Labels: apps

update(managements): :zap: refactor for using destructuring object
  apps/managements/src/stats-mnt/stats-mnt.service.ts
  libs/resource/src/statistics/services/statistics.service.ts
Labels: apps

perf(actions): :zap: update actions node & actions checkout to v4
  .github/workflows/auto-merge-dev-into-stable.yml
  .github/workflows/build-test-pull-request.yml
  .github/workflows/close-pr-into-stable.yml
  .github/workflows/tech-cell-server-ci-cd.yml
Labels: actions

update(actions): :arrow_up: update labeler to v5 for using node 20
  .github/workflows/close-pr-into-stable.yml
Labels: actions

update(actions): :arrow_up: update setup-java to v4 for using node 20
  .github/workflows/tech-cell-server-ci-cd.yml
Labels: actions

feat(yarn): :arrow_up: update yarn to stable 4.1.0
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/releases/yarn-4.1.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: package, dependencies

fix(managements): :bug: fix issue same delete path called to delete prod/prod variation
  apps/api/src/controllers/products.controller.ts
Labels: apps

refactor(managements): :zap: use util helper function instead
  libs/resource/src/orders/orders.service.ts
Labels: apps

fix(managements): :bug: fix issue can not get the deleted/hide product of order
  apps/managements/src/orders-mnt/orders-mnt.service.ts
Labels: apps

feat(utils): using helper function to convert objectId
  apps/auth/src/auth.service.ts
  apps/communications/src/notifications/gateways/notifications.call.gateway.ts
  apps/communications/src/notifications/gateways/notifications.gateway.ts
  apps/communications/src/notifications/queues/create-notifications.processor.ts
  apps/communications/src/notifications/queues/push-notify-to-all-user.processor.ts
  apps/managements/src/categories-mnt/categories-mnt.service.ts
  apps/managements/src/orders-mnt/orders-mnt.service.ts
  apps/managements/src/products-mnt/dtos/update-product-request.dto.ts
  apps/managements/src/products-mnt/products-mnt.service.ts
  apps/order/src/carts-ord/carts-ord.service.ts
  apps/order/src/carts-ord/dtos/create-cart-request.dto.ts
  apps/order/src/checkout-ord/checkout.service.ts
  apps/search/src/categories-search/categories-search.service.ts
  apps/search/src/products-search/products-search.service.ts
  libs/common/src/utils/shared.util.ts
  libs/resource/src/carts/carts.service.ts
  libs/resource/src/products/dtos/create-product.dto.ts
  libs/resource/src/products/products.service.ts
Labels: apps

fix(products): :bug: fix issue can not found category when create products
  apps/managements/src/products-mnt/products-mnt.service.ts
  apps/managements/src/products-mnt/products-mnt.util.service.ts
Labels: apps

fix(utils): :bug: use helper function for convert to objectId
  apps/order/src/checkout-ord/checkout.service.ts
  apps/task/src/database-task/database-task.service.ts
Labels: apps

feat(stats): :sparkles: add api for get orders stats in range of time
  .vscode/settings.json
  apps/api/src/controllers/stats.controller.ts
  apps/managements/src/stats-mnt/dtos/get-stats-orders-request.2.dto.ts
  apps/managements/src/stats-mnt/stats-mnt.controller.ts
  apps/managements/src/stats-mnt/stats-mnt.pattern.ts
  apps/managements/src/stats-mnt/stats-mnt.service.ts
  libs/resource/src/statistics/services/statistics.service.ts
Labels: apps, editor

fix(utils): :bug: fix issue check before use objectId utils function
  .vscode/settings.json
  apps/order/src/carts-ord/carts-ord.service.ts
  apps/order/src/carts-ord/dtos/create-cart-request.dto.ts
  libs/common/src/utils/shared.util.ts
  libs/resource/src/carts/carts.service.ts
  libs/resource/src/products/dtos/create-product.dto.ts
Labels: apps, editor

.github/labeler.yml:

labeler:
    - .github/labeler.yml

readme:
    - "**/README.md"

actions:
    - .github/workflows/**/*
    - .github/labeler.yml

github:
    - .github/*
    - .git*
    - .gitignore

test:
    - apps/**/*.spec.ts
    - libs/**/*.test.ts

apps:
    - apps/**/*.ts
    - libs/**/*.ts

tsconfig:
    - tsconfig*.json

package:
    - package.json
    - yarn.lock
    - .yarnrc
    - .yarn/*
    - .pnp*
    - .yarn-integrity
    - .yarnclean
    - .yarnignore

dependencies:
    - "package.json"
    - "yarn.lock"

license:
    - LICENSE
    - LICENSE.md

ignore:
    - .dockerignore
    - .eslintignore
    - .gitignore
    - .prettierignore
    - .npmignore
    - .yarnignore
    - .yarnclean

docker:
    - Dockerfile
    - docker-compose.*
    - .dockerignore
    - containers/**/*

editor:
    - .editorconfig
    - .vscode/*
    - .idea/
