Repository TechCell-Project/tech-cell-server, changes with the labels that .github/labeler.yml gives for each.
All labels: labeler, readme, actions, github, test, apps, tsconfig, package, dependencies, license, ignore, docker, editor

.github/labeler.yml:

labeler:
    - .github/labeler.yml

readme:
    - "**/README.md"

actions:
    - .github/workflows/**/*
    - .github/labeler.yml

github:
    - .github/*
    - .git*
    - .gitignore

test:
    - apps/**/*.spec.ts
    - libs/**/*.test.ts

apps:
    - apps/**/*.ts
    - libs/**/*.ts

tsconfig:
    - tsconfig*.json

package:
    - package.json
    - yarn.lock
    - .yarnrc
    - .yarn/*
    - .pnp*
    - .yarn-integrity
    - .yarnclean
    - .yarnignore

dependencies:
    - "package.json"
    - "yarn.lock"

license:
    - LICENSE
    - LICENSE.md

ignore:
    - .dockerignore
    - .eslintignore
    - .gitignore
    - .prettierignore
    - .npmignore
    - .yarnignore
    - .yarnclean

docker:
    - Dockerfile
    - docker-compose.*
    - .dockerignore
    - containers/**/*

editor:
    - .editorconfig
    - .vscode/*
    - .idea/

chore: :fire: remove unused code
  apps/communications/src/notifications/gateways/notifications.call.gateway.ts
  apps/communications/src/notifications/queues/create-notifications.processor.ts
  apps/communications/src/notifications/queues/push-notify-to-all-user.processor.ts
  apps/managements/src/categories-mnt/categories-mnt.service.ts
  apps/search/src/categories-search/categories-search.service.ts
Labels: apps

update(products): :closed_lock_with_key: add permission to allow edit product price
  apps/managements/src/products-mnt/products-mnt.util.service.ts
Labels: apps

feat(search): :sparkles: add feat to get user is hided
  apps/api/src/controllers/products.controller.ts
  apps/api/src/controllers/test/products.controller.test.ts
  apps/search/src/products-search/dtos/get-product-by-id-query.dto.ts
  apps/search/src/products-search/products-search.controller.ts
  apps/search/src/products-search/products-search.module.ts
  apps/search/src/products-search/products-search.service.ts
  apps/search/src/products-search/products-search.util.service.ts
  libs/common/src/decorators/current-user.decorator.ts
  libs/common/src/guards/auth.core.guard.ts
  libs/common/src/guards/index.ts
  libs/common/src/guards/optional-auth.guard.ts
  libs/resource/src/users/users.service.ts
Labels: apps

fix: :bug: fix unexpected lexical declaration in case block
  libs/common/src/guards/auth.core.guard.ts
Labels: apps

refactor(carts): :recycle: refactor getCarts method in CartsOrdService
  .vscode/settings.json
  apps/order/src/carts-ord/carts-ord.service.ts
Labels: apps, editor

perf(carts): :zap: update remove product in cart when product is unavailable
  apps/order/src/carts-ord/carts-ord.service.ts
Labels: apps

update(auth): :ambulance: change log level to debug
  libs/common/src/guards/optional-auth.guard.ts
Labels: apps

fix(auth): :bug: fix issue optional guard always fail in auth
  libs/common/src/guards/optional-auth.guard.ts
Labels: apps

feat(logger): :rocket: add logger
  .vscode/settings.json
  apps/managements/src/stats-mnt/stats-mnt.service.ts
Labels: apps, editor

fix(managements): :bug: fix issue update on immutable field
  apps/managements/src/categories-mnt/categories-mnt.service.ts
  libs/resource/src/categories/categories.service.ts
Labels: apps

feat(third-party): :arrow_up: upgrade vnpay package to 0.6
  .vscode/settings.json
  apps/order/src/checkout-ord/checkout.service.ts
  apps/order/src/checkout-ord/dtos/index.ts
  libs/resource/src/carts/dtos/index.ts
  libs/resource/src/carts/index.ts
  libs/resource/src/orders/index.ts
  libs/resource/src/users/index.ts
  libs/resource/src/users/schemas/index.ts
  libs/third-party/src/giaohangnhanh/index.ts
  libs/third-party/src/vnpay.vn/vnpay.service.ts
  package.json
  yarn.lock
Labels: apps, package, dependencies, editor

fix(third-party): :bug: fix wrong type of vnpay
  libs/third-party/src/vnpay.vn/vnpay.module.ts
Labels: apps

fix(order): :bug: update order to complete with cod may update payment status to completed
  apps/managements/src/orders-mnt/orders-mnt.service.ts
Labels: apps

fix(stats): :bug: fix broken month when get revenue stats data
  libs/resource/src/statistics/services/statistics.service.ts
Labels: apps

chore(typos): :lipstick: update typos
  .vscode/settings.json
Labels: editor

refactor(third-party): :zap: switch `giaohangnhanh` to use library instead of self service
  apps/order/src/checkout-ord/checkout.module.ts
  apps/search/src/address-search/address-search.module.ts
  libs/third-party/src/giaohangnhanh/dtos/district.dto.ts
  libs/third-party/src/giaohangnhanh/dtos/get-shipping-fee.dto.ts
  libs/third-party/src/giaohangnhanh/dtos/province.dto.ts
  libs/third-party/src/giaohangnhanh/dtos/ward.dto.ts
  libs/third-party/src/giaohangnhanh/ghn.core.service.ts
  libs/third-party/src/giaohangnhanh/ghn.module.ts
  libs/third-party/src/giaohangnhanh/ghn.service.ts
  libs/third-party/src/giaohangnhanh/types/district.ghn.ts
  libs/third-party/src/giaohangnhanh/types/index.ts
  libs/third-party/src/giaohangnhanh/types/province.ghn.ts
  libs/third-party/src/giaohangnhanh/types/shipping-fee-response.ghn.ts
  libs/third-party/src/giaohangnhanh/types/ward.ghn.ts
  package.json
  yarn.lock
Labels: apps, package, dependencies

update(order): :zap: update to get base price when special price not available
  apps/order/src/checkout-ord/checkout.service.ts
Labels: apps

fix(third-party): :bug: fix issue shipping fee too expensive due to wrong unit of dimensions
  libs/third-party/src/giaohangnhanh/ghn.service.ts
Labels: apps

update(third-party): :zap: update data of dimensions to UPWARDS case
  libs/third-party/src/giaohangnhanh/ghn.service.ts
Labels: apps

update(sdk): :fire: no publish sdk to github package anymore
  .github/workflows/tech-cell-server-ci-cd.yml
  package.json
Labels: actions, package, dependencies

feat(managements): :sparkles: add filter options to get order for managements
  apps/managements/src/orders-mnt/dtos/get-orders-request.dto.ts
  apps/managements/src/orders-mnt/enums/index.ts
  apps/managements/src/orders-mnt/orders-mnt.service.ts
Labels: apps

feat(order): :sparkles: add feat for user can cancel their order
  apps/api/src/controllers/order.controller.ts
  apps/order/src/checkout-ord/checkout.controller.ts
  apps/order/src/checkout-ord/checkout.pattern.ts
  apps/order/src/checkout-ord/checkout.service.ts
  apps/order/src/checkout-ord/dtos/cancel-order-request.dto.ts
  apps/order/src/checkout-ord/dtos/index.ts
  libs/common/src/i18n/generated/i18n.generated.ts
  libs/common/src/i18n/lang/en/errorMessage.json
  libs/common/src/i18n/lang/vi_VN/errorMessage.json
  libs/resource/src/orders/orders.service.ts
  libs/resource/src/orders/schemas/order.schema.ts
Labels: apps

chore(ci/cd): :rocket: enable publish sdk to github package
  .github/workflows/tech-cell-server-ci-cd.yml
  .vscode/settings.json
Labels: actions, editor

refactor(permissions): :zap: change role name, remove `mod`
  .vscode/settings.json
  apps/api/src/controllers/admin.controller.ts
  apps/api/src/controllers/attributes.controller.ts
  apps/api/src/controllers/order-management.controller.ts
  apps/api/src/controllers/products.controller.ts
  apps/api/src/controllers/stats.controller.ts
  apps/api/src/controllers/users.controller.ts
  apps/communications/src/notifications/constants/notifications.constant.ts
  apps/communications/src/notifications/gateways/notifications.call.gateway.ts
  apps/communications/src/notifications/gateways/notifications.gateway.ts
  apps/managements/src/users-mnt/users-mnt.service.ts
  apps/managements/src/users-mnt/users-mnt.util.service.ts
  apps/search/src/products-search/products-search.service.ts
  libs/common/src/decorators/skip-auth-guard.decorator.ts
  libs/common/src/guards/admin.guard.ts
  libs/common/src/guards/auth.core.guard.ts
  libs/common/src/guards/auth.guard.ts
  libs/common/src/guards/index.ts
  libs/common/src/guards/manager.guard.ts
  libs/common/src/guards/mod.guard.ts
  libs/common/src/guards/optional-auth.guard.ts
  libs/common/src/guards/staff.guard.ts
  libs/common/src/guards/super-admin.guard.ts
  libs/common/src/guards/user.guard.ts
  libs/common/src/utils/user.util.ts
  libs/resource/src/users/enums/UserRole.enum.ts
  libs/resource/src/users/users.service.ts
  scripts/build-all-service.js
Labels: apps, editor

update(permissions): :zap: update guard and decorator for using with role base
  CHANGELOG.md
  apps/api/src/controllers/admin.controller.ts
  apps/api/src/controllers/app.controller.ts
  apps/api/src/controllers/attributes.controller.ts
  apps/api/src/controllers/carts.controller.ts
  apps/api/src/controllers/categories.controller.ts
  apps/api/src/controllers/index.ts
  apps/api/src/controllers/order-management.controller.ts
  apps/api/src/controllers/orders.controller.ts
  apps/api/src/controllers/products.controller.ts
  apps/api/src/controllers/stats.controller.ts
  apps/api/src/controllers/test/auth.controller.test.ts
  apps/api/src/controllers/test/carts.controller.test.ts
  apps/api/src/controllers/users.controller.ts
  apps/communications/src/notifications/gateways/notifications.gateway.ts
  apps/managements/src/users-mnt/dtos/change-role-request.dto.ts
  apps/managements/src/users-mnt/users-mnt.exception.ts
  apps/managements/src/users-mnt/users-mnt.service.ts
  apps/order/src/checkout-ord/checkout.controller.ts
  apps/order/src/checkout-ord/checkout.service.ts
  libs/common/src/constants/auth.constant.ts
  libs/common/src/constants/index.ts
  libs/common/src/decorators/auth.decorator.ts
  libs/common/src/decorators/index.ts
  libs/common/src/decorators/required-role.decorator.ts
  libs/common/src/decorators/skip-auth-guard.decorator.ts
  libs/common/src/guards/auth.core.guard.ts
  libs/common/src/guards/auth.guard.ts
  libs/common/src/guards/index.ts
  libs/common/src/guards/manager.guard.ts
  libs/common/src/guards/optional-auth.guard.ts
  libs/common/src/guards/staff.guard.ts
  libs/common/src/guards/user.guard.ts
  libs/common/src/types/current-user.type.ts
Labels: apps

fix(typos): :pencil2: fix typos on name variables
  apps/communications/src/notifications/constants/notifications.constant.ts
  apps/communications/src/notifications/gateways/notifications.gateway.ts
Labels: apps

fix: :bug: fix method identical to the one
  libs/resource/src/users/users.service.ts
Labels: apps

fix: :fire: remove unused
  apps/api/src/controllers/attributes.controller.ts
Labels: apps

fix: :fire: reduce duplicate
  libs/common/src/guards/auth.guard.ts
Labels: apps

fix(order): :bug: fix issue get dimensions
  apps/order/src/checkout-ord/checkout.service.ts
Labels: apps

fix(guard): :bug: fix issue accept role did not work as expected
  libs/common/src/guards/auth.guard.ts
Labels: apps

fix(guard): :bug: fix issue accept role did not work as expected
  libs/common/src/guards/optional-auth.guard.ts
Labels: apps

fix(auth): :bug: fix issue when auth socket client connection
  apps/communications/src/notifications/gateways/notifications.gateway.ts
Labels: apps

update(permissions): :zap: update auth role for `auth, images, notifications, profile` apis
  apps/api/src/controllers/auth.controller.ts
  apps/api/src/controllers/images.controller.ts
  apps/api/src/controllers/notifications.controller.ts
  apps/api/src/controllers/profile.controller.ts
Labels: apps

fix(stats): :bug: fix issue when access to `api-stats` page due to wrong role
  apps/api/src/main.ts
Labels: apps

update(deps): :arrow_up: upgrade `vnpay` to `0.9.5`
  .vscode/settings.json
  apps/order/src/checkout-ord/checkout.module.ts
  libs/third-party/src/vnpay.vn/vnpay.module.ts
  libs/third-party/src/vnpay.vn/vnpay.service.ts
  package.json
  yarn.lock
Labels: apps, package, dependencies, editor

fix(managements): :bug: fix wrong enum data of roles
  apps/managements/src/users-mnt/users-mnt.util.service.ts
  apps/search/src/users-search/dtos/get-users.dto.ts
  apps/search/src/users-search/enums/user-search.enum.ts
  apps/search/src/users-search/users-search.util.service.ts
  libs/common/src/utils/user.util.ts
Labels: apps

test(search): :white_check_mark: add e2e test for `/address`
  apps/search/src/address-search/address-search.service.ts
  apps/search/src/address-search/dtos/query.dto.ts
  jest-e2e.json
  libs/common/src/i18n/i18n.module.ts
  libs/common/src/index.ts
  package.json
  test/e2e/address.e2e-spec.ts
Labels: apps, package, dependencies

update(permissions): :rocket: allow user can get other user with id
  apps/api/src/controllers/users.controller.ts
Labels: apps

feat(managements): :sparkles: send otp via email when create user with custom email
  apps/managements/src/users-mnt/users-mnt.module.ts
  apps/managements/src/users-mnt/users-mnt.service.ts
  libs/common/src/constants/user.constant.ts
  libs/common/src/utils/shared.util.ts
  libs/resource/src/users/dtos/create-user.dto.ts
Labels: apps
