Repository TechCell-Project/tech-cell-server, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github

Update documentation links and refactor code to add Socket.IO admin UI (#255)
  apps/communications/src/communications.controller.ts
  apps/communications/src/main.ts
  apps/communications/src/notifications/gateways/notifications.call.gateway.ts
  apps/communications/src/notifications/gateways/notifications.gateway.ts
  apps/communications/src/notifications/notifications.module.ts
  containers/swag/www/index.html
  libs/common/src/Redis/services/redis.service.ts
  package.json
  yarn.lock
Labels: none

Update Dockerfile and run-compodoc.js for production build
  containers/compodoc-techcell/Dockerfile
  scripts/run-compodoc.js
Labels: none

Refactor Dockerfile and run-compodoc.js script to multi stage
  containers/compodoc-techcell/Dockerfile
  scripts/run-compodoc.js
Labels: none

Update Dockerfile to use yarn install instead of specific package installations
  containers/compodoc-techcell/Dockerfile
Labels: none

Update API and Source Code Documentations
  containers/swag/www/index.html
Labels: none

Update errorLogStyle to `json` in TerminusModule configuration
  apps/api/src/app.module.ts
Labels: none

Refactor log file creation and naming
  apps/utility/src/utility.service.ts
  libs/common/src/utils/files.util.ts
  libs/common/src/utils/index.ts
  libs/common/src/utils/shared.util.ts
Labels: none

Add supertest and @types/supertest dependencies
  package.json
  yarn.lock
Labels: none

Add REPL functionality and update start scripts
  apps/repl.ts
  package.json
  scripts/start-production.js
Labels: none

Add .vs to .gitignore and create .vscode/settings.json
  .gitignore
  .vscode/settings.json
Labels: github

Resolve
  apps/managements/src/users-mnt/dtos/create-user-request.dto.ts
Labels: none

Remove unused code and update README
  README.md
  apps/api/src/api-task.service.ts
Labels: readme

Add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github

Add pull request template (#261)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github

Update Techcell Cloud website styling
  containers/swag/www/index.html
Labels: none

Update throttle limit in refresh-token endpoint
  apps/api/src/controllers/auth.controller.ts
Labels: none

chore(lint)
  apps/managements/src/products-mnt/products-mnt.service.ts
  apps/managements/src/users-mnt/dtos/create-user-request.dto.ts
  apps/search/src/address-search/address-search.service.ts
  libs/common/src/guards/auth.core.guard.ts
  libs/third-party/src/giaohangnhanh/ghn.core.service.ts
Labels: none

Add new payment status enum and properties to PaymentOrder schema
  apps/api/src/controllers/order.controller.ts
  apps/order/src/checkout-ord/checkout.controller.ts
  apps/order/src/checkout-ord/checkout.service.ts
  libs/resource/src/abstract/abstract.repository.ts
  libs/resource/src/orders/dtos/create-order.dto.ts
  libs/resource/src/orders/dtos/order-schema.dto.ts
  libs/resource/src/orders/enums/index.ts
  libs/resource/src/orders/schemas/sub-order.schema.ts
Labels: none

Update time zone handling in morgan.middleware.ts and DatabaseTaskService
  apps/api/src/middlewares/morgan.middleware.ts
  apps/task/src/database-task/database-task.service.ts
  types/env.type.d.ts
Labels: none

Fix calculation of total price in checkout service
  apps/order/src/checkout-ord/checkout.service.ts
Labels: none

Update API documentation contact email
  apps/api/src/main.ts
Labels: none

Remove unused imports and update event handlers in UtilityController and BotGateway
  apps/utility/src/utility.controller.ts
  libs/common/src/Discordjs/bot/bot.gateway.ts
Labels: none

Add API operation summaries to notification and order management controllers
  apps/api/src/controllers/notifications.controller.ts
  apps/api/src/controllers/order-management.controller.ts
  apps/api/src/controllers/order.controller.ts
Labels: none

Fix controller tags and remove unused UsersController
  apps/api/src/controllers/index.ts
  apps/api/src/controllers/order-management.controller.ts
  apps/api/src/controllers/users.controller.ts
Labels: none

Add i18n module and update dependencies
  .eslintignore
  .eslintrc.js
  apps/api/src/app.module.ts
  apps/api/src/main.ts
  apps/search/src/search.module.ts
  libs/common/src/filters/rpc-exception.filter.ts
  libs/common/src/i18n/class-validator-i18n/index.ts
  libs/common/src/i18n/generated/i18n.generated.ts
  libs/common/src/i18n/i18n.module.ts
  libs/common/src/i18n/index.ts
  libs/common/src/i18n/lang/en/dto.json
  libs/common/src/i18n/lang/en/exception.json
  libs/common/src/i18n/lang/en/validation.json
  libs/common/src/i18n/lang/vi_VN/exception.json
  libs/common/src/i18n/lang/vi_VN/validation.json
  nest-cli.json
  package.json
  yarn.lock
Labels: none

feat(i18n): update dto validator with i18n
  apps/search/src/address-search/dtos/query.dto.ts
  apps/search/src/attributes-search/dtos/get-attribute-by-id.dto.ts
  apps/search/src/attributes-search/dtos/get-attribute-by-label.dto.ts
  apps/search/src/attributes-search/dtos/get-attributes.dto.ts
  apps/search/src/categories-search/dtos/get-categories-request.dto.ts
  apps/search/src/categories-search/dtos/get-category-by-label-request.dto.ts
  apps/search/src/dtos/select-type.dto.ts
  apps/search/src/products-search/dtos/get-product-by-id-query.dto.ts
  apps/search/src/products-search/dtos/get-products.dto.ts
  apps/search/src/users-search/dtos/get-users.dto.ts
  libs/common/src/i18n/class-validator-i18n/validator-i18n.decorator.ts
Labels: none

Add license information to API
  apps/api/src/main.ts
Labels: none

feat(i18n): update i18n
  apps/managements/src/attributes-mnt/dtos/create-attribute-request.dto.ts
  apps/managements/src/attributes-mnt/dtos/delete-attribute-by-id-request.dto.ts
  apps/managements/src/attributes-mnt/dtos/update-attribute-request.dto.ts
  apps/managements/src/categories-mnt/dtos/create-categories-request.dto.ts
  apps/managements/src/categories-mnt/dtos/update-category-request.dto.ts
  apps/managements/src/discounts-mnt/dtos/create-discount-request.dto.ts
  apps/managements/src/images-mnt/dtos/image-uploaded-response.dto.ts
  apps/managements/src/orders-mnt/dtos/get-orders-request.dto.ts
  apps/managements/src/orders-mnt/dtos/update-orders-status-request.dto.ts
  apps/managements/src/products-mnt/dtos/create-product-request.dto.ts
  apps/managements/src/products-mnt/dtos/params.dto.ts
  apps/managements/src/users-mnt/dtos/block_unblock-request.dto.ts
  apps/managements/src/users-mnt/dtos/change-role-request.dto.ts
  apps/managements/src/users-mnt/dtos/create-user-request.dto.ts
  apps/managements/src/users-mnt/dtos/update-user-address-request.dto.ts
  apps/managements/src/users-mnt/dtos/update-user-request.dto.ts
  libs/common/src/i18n/class-validator-i18n/validator-i18n.decorator.ts
  libs/common/src/i18n/generated/i18n.generated.ts
  libs/common/src/i18n/lang/en/validation.json
  libs/resource/src/products/dtos/select-product.dto.ts
Labels: none

feat(i18n): update i18n
  apps/auth/src/dtos/change-password-request.dto.ts
  apps/auth/src/dtos/check-email-request.dto.ts
  apps/auth/src/dtos/forgot-password-request.dto.ts
  apps/auth/src/dtos/google-login-request.dto.ts
  apps/auth/src/dtos/jwt-payload.dto.ts
  apps/auth/src/dtos/jwt-request.dto.ts
  apps/auth/src/dtos/login-request.dto.ts
  apps/auth/src/dtos/new-token-request.dto.ts
  apps/auth/src/dtos/register-request.dto.ts
  apps/auth/src/dtos/verify-email-request.dto.ts
  apps/auth/src/dtos/verify-forgot-password-request.dto.ts
  apps/communications/src/mail/dtos/confirm-register.dto.ts
  apps/communications/src/mail/dtos/forgot-password.dto.ts
  apps/communications/src/notifications/dtos/get-user-notifications.dto.ts
  apps/order/src/carts-ord/dtos/create-cart-request.dto.ts
  apps/order/src/carts-ord/dtos/delete-products-cart-request.dto.ts
  apps/order/src/checkout-ord/dtos/checkout-review-order-request.dto.ts
  apps/order/src/checkout-ord/dtos/checkout-review-order-response.dto.ts
  apps/order/src/checkout-ord/dtos/create-order-request.dto.ts
  apps/order/src/checkout-ord/dtos/payment-result.dto.ts
Labels: none

Add validation messages for lowercase, uppercase, non-empty object, and array size
  libs/common/src/i18n/lang/vi_VN/validation.json
Labels: none

Update API main.ts file with new description and server URLs
  apps/api/src/main.ts
Labels: none

Refactor API documentation to include language change instructions
  apps/api/src/main.ts
Labels: none

fix(address): fix err 500 when update address
  apps/managements/src/users-mnt/dtos/update-user-address-request.dto.ts
  apps/order/src/checkout-ord/dtos/checkout-review-order-request.dto.ts
  libs/resource/src/carts/dtos/product-cart.dto.ts
  libs/resource/src/users/dtos/user-schema.dto.ts
Labels: none

Add i18n library to Dockerfile
  apps/api/Dockerfile
  apps/auth/Dockerfile
  apps/communications/Dockerfile
  apps/managements/Dockerfile
  apps/order/Dockerfile
  apps/search/Dockerfile
  apps/task/Dockerfile
  apps/utility/Dockerfile
Labels: none

Update Dockerfile paths for i18n
  apps/api/Dockerfile
  apps/auth/Dockerfile
  apps/communications/Dockerfile
  apps/managements/Dockerfile
  apps/order/Dockerfile
  apps/search/Dockerfile
  apps/task/Dockerfile
  apps/utility/Dockerfile
Labels: none

Refactor RedisCache module
  apps/auth/src/auth.module.ts
  apps/auth/src/auth.service.ts
  apps/auth/src/auth.util.service.ts
  apps/managements/src/attributes-mnt/attributes-mnt.module.ts
  apps/managements/src/attributes-mnt/attributes-mnt.service.ts
  apps/managements/src/categories-mnt/categories-mnt.module.ts
  apps/managements/src/categories-mnt/categories-mnt.util.service.ts
  apps/managements/src/products-mnt/products-mnt.module.ts
  apps/managements/src/products-mnt/products-mnt.util.service.ts
  apps/managements/src/users-mnt/users-mnt.module.ts
  apps/managements/src/users-mnt/users-mnt.service.ts
  apps/managements/src/users-mnt/users-mnt.util.service.ts
  apps/order/src/carts-ord/carts-ord.module.ts
  apps/search/src/address-search/address-search.module.ts
  apps/search/src/address-search/address-search.service.ts
  apps/search/src/attributes-search/attributes-search.module.ts
  apps/search/src/attributes-search/attributes-search.service.ts
  apps/search/src/categories-search/categories-search.module.ts
  apps/search/src/products-search/products-search.module.ts
  apps/search/src/products-search/products-search.util.service.ts
  apps/search/src/users-search/users-search.module.ts
  apps/search/src/users-search/users-search.util.service.ts
  apps/task/src/image-task/image-task.module.ts
  apps/utility/src/utility.module.ts
  apps/utility/src/utility.service.ts
  libs/common/src/Redis/redis.module.ts
  libs/common/src/Redis/services/index.ts
  libs/common/src/Redis/services/redis.service.ts
  libs/common/src/RedisCache/index.ts
  libs/common/src/RedisCache/redisCache.module.ts
  libs/common/src/constants/cache.constant.ts
Labels: none

Add REDIS_STORE constant to Redis module
  libs/common/src/Redis/redis.module.ts
  libs/common/src/constants/cache.constant.ts
  libs/common/src/constants/provider.constant.ts
Labels: none

Add statistics module and related files
  apps/api/src/controllers/index.ts
  apps/api/src/controllers/stats.controller.ts
  apps/managements/src/managements.module.ts
  apps/managements/src/stats-mnt/dtos/get-stats-request.dto.ts
  apps/managements/src/stats-mnt/dtos/get-stats-response.dto.ts
  apps/managements/src/stats-mnt/dtos/index.ts
  apps/managements/src/stats-mnt/stats-mnt.controller.ts
  apps/managements/src/stats-mnt/stats-mnt.enum.ts
  apps/managements/src/stats-mnt/stats-mnt.module.ts
  apps/managements/src/stats-mnt/stats-mnt.pattern.ts
  apps/managements/src/stats-mnt/stats-mnt.service.ts
  libs/common/src/Redis/services/redis.service.ts
  libs/common/src/constants/cache.constant.ts
  libs/common/src/i18n/class-validator-i18n/validator-i18n.decorator.ts
  libs/common/src/i18n/generated/i18n.generated.ts
  libs/common/src/i18n/lang/en/validation.json
  libs/common/src/i18n/lang/vi_VN/validation.json
  libs/common/src/utils/shared.util.ts
  libs/resource/src/index.ts
  libs/resource/src/orders/index.ts
  libs/resource/src/orders/orders.service.ts
  libs/resource/src/statistics/dtos/index.ts
  libs/resource/src/statistics/index.ts
  libs/resource/src/statistics/services/index.ts
  libs/resource/src/statistics/services/statistics.service.ts
  libs/resource/src/statistics/statistics.module.ts
  libs/resource/src/statistics/types/calculate.type.ts
  libs/resource/src/statistics/types/index.ts
Labels: none

Add ModGuard to StatsController
  apps/api/src/controllers/stats.controller.ts
Labels: none

Add global parameter for language in API
  apps/api/src/main.ts
Labels: none

.github/labeler.yml:

readme:
    - '**/README.md'

actions:
    - .github/workflows/**/*
    - .github/labeler.yml

github:
    - .github/*
    - .git*
