Repository TechCell-Project/tech-cell-server, changes with the labels that .github/labeler.yml gives for each.
All labels: labeler, readme, actions, github, test, apps, tsconfig, package, dependencies, license, ignore, docker, editor

feat(bootstrap): :zap: add global filter to catch http exception and re-throw it as rpc exception
  apps/auth/src/main.ts
  apps/search/src/main.ts
  apps/task/src/main.ts
  apps/utility/src/main.ts
Labels: apps

feat(products): :sparkles: add get products by category
  apps/search/src/products-search/dtos/get-products.dto.ts
  apps/search/src/products-search/products-search.module.ts
  apps/search/src/products-search/products-search.service.ts
  apps/search/src/products-search/products-search.util.service.ts
Labels: apps

update(deps): :arrow_up: bump `vnpay` to 0.9.6, fix queryDr
  package.json
  yarn.lock
Labels: package, dependencies

update(permissions): :zap: fix issue manager can not get user by id
  apps/api/src/controllers/users.controller.ts
Labels: apps

fix(i18n): :bug: fix format of lang assets
  libs/common/src/i18n/lang/en/errorMessage.json
  libs/common/src/i18n/lang/vi_VN/errorMessage.json
Labels: none

update(products): :sparkles: allow add attribute to general
  apps/managements/src/products-mnt/products-mnt.util.service.ts
Labels: apps

fix(images): :bug: fix duplicate image
  .vscode/settings.json
  apps/managements/src/images-mnt/images-mnt.service.ts
Labels: apps, editor

fix(images): :bug: fix duplicate image
  apps/managements/src/images-mnt/images-mnt.service.ts
Labels: apps

fix(address): :bug: fix get address
  libs/third-party/src/giaohangnhanh/ghn.service.ts
Labels: apps

.github/labeler.yml:

labeler:
    - .github/labeler.yml

readme:
    - "**/README.md"

actions:
    - .github/workflows/**/*
    - .github/labeler.yml

github:
    - .github/*
    - .git*
    - .gitignore

test:
    - apps/**/*.spec.ts
    - libs/**/*.test.ts

apps:
    - apps/**/*.ts
    - libs/**/*.ts

tsconfig:
    - tsconfig*.json

package:
    - package.json
    - yarn.lock
    - .yarnrc
    - .yarn/*
    - .pnp*
    - .yarn-integrity
    - .yarnclean
    - .yarnignore

dependencies:
    - "package.json"
    - "yarn.lock"

license:
    - LICENSE
    - LICENSE.md

ignore:
    - .dockerignore
    - .eslintignore
    - .gitignore
    - .prettierignore
    - .npmignore
    - .yarnignore
    - .yarnclean

docker:
    - Dockerfile
    - docker-compose.*
    - .dockerignore
    - containers/**/*

editor:
    - .editorconfig
    - .vscode/*
    - .idea/
