Repository TechCell-Project/tech-cell-server, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github

feat(notifications): add query by time, update docs (#246)
  apps/api/src/controllers/notifications.controller.ts
  apps/communications/src/notifications/dtos/get-user-notifications.dto.ts
  apps/communications/src/notifications/services/notifications.service.ts
  libs/resource/src/notifications/dtos/index.ts
  libs/resource/src/notifications/dtos/notifications.dto.ts
  libs/resource/src/notifications/schemas/notification.schema.ts
Labels: none

feat(notifications): update list return with metadata
  apps/api/src/controllers/notifications.controller.ts
  apps/communications/src/notifications/services/notifications.service.ts
  libs/resource/src/notifications/dtos/index.ts
  libs/resource/src/notifications/dtos/list-notifications-response.dto.ts
  libs/resource/src/notifications/notification.service.ts
Labels: none

feat(notifications): update list return with metadata (#248)
  apps/api/src/controllers/notifications.controller.ts
  apps/communications/src/notifications/services/notifications.service.ts
  libs/resource/src/notifications/dtos/index.ts
  libs/resource/src/notifications/dtos/list-notifications-response.dto.ts
  libs/resource/src/notifications/notification.service.ts
Labels: none

Add CanActivate interface to guard classes
  libs/common/src/guards/admin.guard.ts
  libs/common/src/guards/auth.guard.ts
  libs/common/src/guards/mod.guard.ts
  libs/common/src/guards/super-admin.guard.ts
Labels: none

Add new Stoplight documentation page and update Swagger Docs link in index.html
  containers/swag/www/index.html
  containers/swag/www/stoplight.html
Labels: none

Remove unnecessary type from ApiConflictResponse in auth.controller.ts and add format and type to ObjectId in UserDataResponseDTO.
  apps/api/src/controllers/auth.controller.ts
  apps/auth/src/dtos/user-response.dto.ts
Labels: none

Add compodoc to .gitignore, add tsconfig.doc.json, add Dockerfile for compodoc-techcell, and update run-compodoc.js script
  .gitignore
  containers/compodoc-techcell/Dockerfile
  docker-compose.prod.yml
  package.json
  scripts/run-compodoc.js
  tsconfig.doc.json
  yarn.lock
Labels: github

Fix typo in package.json
  package.json
Labels: none

Add design subdomain proxy configuration and update docker-compose to include it
  containers/swag/nginx/proxy-confs/design.subdomain.conf
  docker-compose.core.yml
Labels: none

Update Dockerignore and Compodoc container
  .dockerignore
  assets/icons/favicon.ico
  assets/logos/logo-red.png
  containers/compodoc-techcell/Dockerfile
  scripts/run-compodoc.js
Labels: none

Remove common constants.
  constants/common.constant.ts
Labels: none

Update router in stoplight.html
  containers/swag/www/stoplight.html
Labels: none

Fix path in package.json
  package.json
Labels: none

Update import paths for third-party libraries
  apps/api/src/app.module.ts
  apps/api/src/controllers/address.controller.ts
  apps/managements/src/images-mnt/dtos/image-uploaded-response.dto.ts
  apps/managements/src/images-mnt/images-mnt.module.ts
  apps/managements/src/images-mnt/images-mnt.service.ts
  apps/managements/src/managements.module.ts
  apps/managements/src/products-mnt/products-mnt.module.ts
  apps/managements/src/products-mnt/products-mnt.util.service.ts
  apps/managements/src/users-mnt/users-mnt.module.ts
  apps/managements/src/users-mnt/users-mnt.service.ts
  apps/order/src/checkout-ord/checkout.module.ts
  apps/order/src/checkout-ord/checkout.service.ts
  apps/search/src/address-search/address-search.module.ts
  apps/search/src/address-search/address-search.service.ts
  apps/task/src/image-task/image-task.module.ts
  apps/task/src/image-task/image-task.service.ts
  apps/task/src/task.module.ts
  package.json
  tsconfig.json
Labels: none

Update application roots and source roots in nest-cli.json and package.json
  nest-cli.json
  package.json
  tsconfig.build.json
  tsconfig.json
Labels: none

Update attribute description to attribute info
  apps/api/src/controllers/attributes.controller.ts
  apps/api/src/test/address.controller.test.ts
  apps/api/src/test/attributes.controller.test.ts
  apps/managements/src/attributes-mnt/attributes-mnt.controller.ts
  apps/managements/src/attributes-mnt/attributes-mnt.pattern.ts
  libs/resource/src/otp/test/otp.service.spec.ts
  libs/resource/src/users/test/users.service.spec.ts
  package.json
  yarn.lock
Labels: none

Fix typo in AddressController describe statement
  apps/api/src/test/address.controller.test.ts
Labels: none

Add unit tests for AuthController
  apps/api/src/test/auth.controller.test.ts
Labels: none

Refactor CartsController to use generics in send method
  apps/api/src/controllers/carts.controller.ts
Labels: none

Add carts controller test file
  apps/api/src/test/carts.controller.test.ts
Labels: none

Refactor changePassword test in auth.controller.test.ts
  apps/api/src/test/auth.controller.test.ts
Labels: none

Fix typo in createCategories method
  apps/api/src/controllers/categories.controller.ts
Labels: none

Add unit tests for CategoriesController
  apps/api/src/test/categories.controller.test.ts
Labels: none

Remove console.log statement in ImagesController
  apps/api/src/controllers/images.controller.ts
Labels: none

Add images controller test file
  apps/api/src/test/images.controller.test.ts
Labels: none

Fix imports in products.controller.ts
  apps/api/src/controllers/products.controller.ts
  apps/managements/src/products-mnt/dtos/index.ts
Labels: none

Add products.controller.test.ts
  apps/api/src/test/products.controller.test.ts
Labels: none

Move test of controller into folder controller
  apps/api/src/controllers/test/address.controller.test.ts
  apps/api/src/controllers/test/attributes.controller.test.ts
  apps/api/src/controllers/test/auth.controller.test.ts
  apps/api/src/controllers/test/carts.controller.test.ts
  apps/api/src/controllers/test/categories.controller.test.ts
  apps/api/src/controllers/test/images.controller.test.ts
  apps/api/src/controllers/test/products.controller.test.ts
Labels: none

Update test script in package.json
  package.json
Labels: none

Add GitHub Actions workflow to run tests on all services
  .github/workflows/run-test.yml
Labels: actions

Refactor build job to run-tests job
  .github/workflows/run-test.yml
Labels: actions

Update API response type in getOrder endpoint
  apps/api/src/controllers/order-management.controller.ts
  apps/managements/src/orders-mnt/dtos/get-order-by-id-response.dto.ts
  apps/managements/src/orders-mnt/orders-mnt.module.ts
  apps/managements/src/orders-mnt/orders-mnt.service.ts
  libs/resource/src/abstract/abstract.repository.ts
  libs/resource/src/orders/orders.service.ts
Labels: none

Update GetOrderByIdResponseDTO to include generalImages in ProductsOrder
  apps/managements/src/orders-mnt/dtos/get-order-by-id-response.dto.ts
Labels: none

Update API response type in getOrder endpoint (#253)
  apps/api/src/controllers/order-management.controller.ts
  apps/managements/src/orders-mnt/dtos/get-order-by-id-response.dto.ts
  apps/managements/src/orders-mnt/orders-mnt.module.ts
  apps/managements/src/orders-mnt/orders-mnt.service.ts
  libs/resource/src/abstract/abstract.repository.ts
  libs/resource/src/orders/orders.service.ts
Labels: none

Remove unnecessary imports and fix linting issues
  apps/api/src/controllers/discounts.controller.ts
  apps/managements/src/products-mnt/dtos/update-product-request.dto.ts
  apps/task/src/database-task/database-task.controller.ts
  package.json
Labels: none

Refactor image task service to use optional chaining
  apps/task/src/image-task/image-task.service.ts
Labels: none

chore(deps): update package dependencies
  package.json
  yarn.lock
Labels: none

Remove unnecessary imports, refactor image task service, and update package dependencies (#254)
  apps/api/src/controllers/discounts.controller.ts
  apps/managements/src/products-mnt/dtos/update-product-request.dto.ts
  apps/task/src/database-task/database-task.controller.ts
  apps/task/src/image-task/image-task.service.ts
  package.json
  yarn.lock
Labels: none

Update documentation links in index.html
  containers/swag/www/index.html
Labels: none

Refactor code and add Socket.IO admin UI
  apps/communications/src/communications.controller.ts
  apps/communications/src/main.ts
  apps/communications/src/notifications/gateways/notifications.call.gateway.ts
  apps/communications/src/notifications/gateways/notifications.gateway.ts
  apps/communications/src/notifications/notifications.module.ts
  libs/common/src/Redis/services/redis.service.ts
  package.json
  yarn.lock
Labels: none

.github/labeler.yml:

readme:
    - '**/README.md'

actions:
    - .github/workflows/**/*
    - .github/labeler.yml

github:
    - .github/*
    - .git*
