Repository TechCell-Project/tech-cell-server, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, test, source

fix(search): :bug: fix issue search with no pagination
  libs/common/src/dtos/pagination-query.dto.ts
Labels: source

fix(actions): :bug: fix issue creating .env file when CI/CD
  .github/workflows/tech-cell-server-ci-cd.yml
  package.json
  scripts/convert-base64.js
Labels: actions

update(i18n): :bento: add error message
  libs/common/src/i18n/generated/i18n.generated.ts
  libs/common/src/i18n/lang/en/errorMessage.json
  libs/common/src/i18n/lang/vi_VN/errorMessage.json
Labels: source

chore(setting): :lipstick: update i18n scope
  .vscode/settings.json
Labels: none

fix(ghn): :bug: fix issue when post non-int to third-party
  libs/third-party/src/giaohangnhanh/ghn.core.service.ts
  libs/third-party/src/giaohangnhanh/ghn.service.ts
Labels: source

fix(ghn): :bug: fix issue when post non-int to third-party
  libs/third-party/src/giaohangnhanh/ghn.service.ts
Labels: source

update(yarn): :arrow_up: upgrade yarn to v4
  .dockerignore
  .eslintignore
  .github/workflows/build-image-test.yml
  .gitignore
  .prettierignore
  .vscode/settings.json
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  apps/api/Dockerfile
  apps/auth/Dockerfile
  apps/communications/Dockerfile
  apps/managements/Dockerfile
  apps/order/Dockerfile
  apps/search/Dockerfile
  apps/task/Dockerfile
  apps/utility/Dockerfile
  containers/compodoc-techcell/Dockerfile
  package.json
  yarn.lock
Labels: actions, github

chore(actions): :fire: remove actions test file
  .github/workflows/build-image-test.yml
Labels: actions

refactor(scripts): :zap: use concurrency limit based on CPU cores [skip ci]
  scripts/build-all-service.js
Labels: none

chore(subdomain): :rocket: update subdomain for architecture docs
  .vscode/settings.json
  containers/swag/nginx/proxy-confs/architecture.subdomain.conf
Labels: none

update(i18n): :sparkles: add IsObjectI18n decorator
  libs/common/src/i18n/class-validator-i18n/validator-i18n.decorator.ts
  libs/common/src/i18n/generated/i18n.generated.ts
  libs/common/src/i18n/lang/en/validation.json
  libs/common/src/i18n/lang/vi_VN/validation.json
Labels: source

refactor(order): :fire: remove unused enum
  apps/order/src/checkout-ord/dtos/create-order-request.dto.ts
  apps/order/src/checkout-ord/enums/index.ts
  libs/resource/src/orders/dtos/order-schema.dto.ts
Labels: source

update(order): :zap: update payment method and add paymentMethod property
  apps/order/src/checkout-ord/checkout.service.ts
  apps/order/src/checkout-ord/dtos/checkout-review-order-request.dto.ts
  apps/order/src/checkout-ord/dtos/reviewed-order-response.dto.ts
Labels: source

.github/labeler.yml:

readme:
    - "**/README.md"

actions:
    - .github/workflows/**/*
    - .github/labeler.yml

github:
    - .github/*
    - .git*

test:
    - apps/**/*.spec.ts
    - libs/**/*.test.ts

source:
    - apps/**/*.ts
    - libs/**/*.ts
